streamlit
torch>=2.0.0
numpy
scipy
pydub
tensorflow>=2.11
spleeter
librosa
soundfile
webrtcvad
PyQt5
resampy
matplotlib
audioread
# REMOVE the problematic line below:
# git+https://github.com/CorentinJ/Real-Time-Voice-Cloning.git
